@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap');

body {
    height: 100vh;
    background: linear-gradient(135deg, rgba(214, 186, 214, 0.9), rgba(158, 160, 180, 0.9));
    padding: 0;
    margin: 0;
    font-family: 'Sansita Swashed', cursive;
    color: #333;
}

.logo {
    display: block;
    margin: 20px auto;
}

h1 {
    margin-top: -20px;
    font-size: 36px;
    text-align: center;
    color: #2c3e50;
}

.container {
    width: 80%;
    margin: auto;
    height: 50vh;
    padding: 20px;
    overflow-y: auto;
    border-radius: 15px;
    border: 5px solid rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.message {
    background-color: #f8f9fa;
    color: #333;
    width: fit-content;
    max-width: 60%;
    padding: 12px;
    margin: 10px;
    border-radius: 12px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left {
    float: left;
    clear: both;
    background-color: #e0f7fa;
}

.right {
    float: right;
    clear: both;
    background-color: #ffecb3;
}

#send-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

#messageInp {
    width: 70%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#messageInp:focus {
    border-color: #007bff;
}

.btn {
    width: 20%;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #007bff;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
    border-color: #004080;
}

@media (max-width: 768px) {
    .message {
        max-width: 80%;
    }

    #send-container {
        flex-direction: column;
        align-items: center;
    }

    #messageInp {
        width: 100%;
        margin-bottom: 10px;
    }

    .btn {
        width: 100%;
        margin-top: 10px;
    }
}
